.post-meta-date,
.pagination,
.framework-info {
  display: none !important;
}
.iconfont.icon-xiaohongshu1 {
  font-size: 14px;
}


.card-announcement .item-headline > span {
  display: none;
}

.card-announcement .item-headline::after {
  content: "联系我们" !important;
  margin-left: 5px;
}

#footer {
  font-size: medium;
  font-weight: bold;
}